RewriteEngine   On

RewriteCond     %{REQUEST_FILENAME}     !-f
RewriteCond     %{REQUEST_FILENAME}     !-d
RewriteCond     %{THE_REQUEST}          !^(.*)/assets(.*)$
RewriteRule     ^(.*)$                  /index.php?_url=/$1 [QSA,L]